@tailwind base;
@tailwind components;
@tailwind utilities;

/***
#EEEEEE
#787A91
#141E61
#0F044C
***/

@font-face {
  font-family: "Fuzzy";
  src: url("../public/fonts/FuzzyBubbles-Regular.ttf");
}

@font-face {
  font-family: "Fuzzy-Bold";
  src: url("../public/fonts/FuzzyBubbles-Bold.ttf");
}

*:before, *:after {
  box-sizing: border-box;
}

body{
  background-color: #787A91;
  font-family: "Fuzzy", sans-serif;
  color:#0F044C;
}

textarea{
  color: #0F044C;
  font-weight: 600;
  background-color: transparent;
}
